@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em; /*fonte de 16px ou fonte tamanho 12 */
  font-weight: 400;
}

h1 {
	color: #66bbff;	
  	font-weight: 700; /* Bold */
}

.caixa1{
	width: 300px;
	padding: 4px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

.caixa2{
	padding: 4px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

#tabela{
	
	border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
}

#tabela th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

#tabela th {
   	background-color: #f2f2f2;
}

#tabela caption {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.botao1{
	text-decoration: none;
	background-color: #EEE4B1;
	padding: 5px 10px;
	color: black;
	font-size: 1.2em;
	font-weight: 700; /* Bold */ 
	border-radius: 5px;
	border:0;
	cursor: pointer;
}